<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aamir Nathani" />
    <title>Typography - NOMARK UI</title>
    <link rel="icon" href="../../assests/icon-logo.png">

    <!-- External Imports -->
    <link rel="stylesheet" href="./typography.css">
    <link rel="stylesheet" href="../../styles/main.css">

</head>

<body>
    <div class="section-center">
        <!-- navbar -->
        <nav class="navbar flex items-center justify-between pt-1 section-center z-5">
            <a class="humburger-icon icon-open font-size-6"><i class="fas fa-bars ml-5"></i></a>
            <a class="humburger-icon icon-close font-size-6 displayNone"><i class="fas fa-bars ml-5"></i></a>
            <a href="../../index.html" class="mr-5"><img src="../../assests/logo-primary.png" alt="NOMARK"
                    class="nomark-logo"></a>
        </nav>
        <!-- side-bar -->
        <div class="sidebar sidebarRemove flex flex-col scroll-style z-4 pr-7 p-2">
            <h3 class="sidebar-heading font-size-6">Getting Started</h3>
            <ul>
                <li><a href="../../documentation/doc.html" class="sidebar-items">Installation</a></li>
            </ul>
            <h3 class="sidebar-heading font-size-6">Components</h3>
            <ul>
                <li><a href="../avatar/avatar.html" class="sidebar-items">Avatar</a></li>
                <li><a href="../alert/alert.html" class="sidebar-items">Alert</a></li>
                <li><a href="../badge/badge.html" class="sidebar-items">Badge</a></li>
                <li><a href="../button/button.html" class="sidebar-items">Button</a></li>
                <li><a href="../card/card.html" class="sidebar-items">Card</a></li>
                <li><a href="../image/image.html" class="sidebar-items">Image</a></li>
                <li><a href="../input/input.html" class="sidebar-items">Input</a></li>
                <li><a href="./typography.html" class="sidebar-items active">Typography</a></li>
                <li><a href="../list/list.html" class="sidebar-items">Lists</a></li>
                <li><a href="../navbar/navbar.html" class="sidebar-items">Navigation</a></li>
            </ul>
        </div>
        <!-- Typography -->
        <div class="click-remove">
            <section class="my-7">
                <div class="m-2">
                    <h2 class="font-size-8 font-bolder">Typography</h2>
                    <p class="font-size-5 py-5"></p>
                </div>
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold font-size-6">Heading Utilities</h3>
                        <p>Heading are titles or subtitles that you want to display on a webpage.</p>
                        <p>Heading starts from <strong class="font-bold"> h1 to h6</strong>. You can use it by giving
                            the tag names <strong class="font-bold"> h1, h2, h3, h4, h5, h6.</strong></p>
                    </div>
                    <div class="component-display flex justify-center flex-col gap-2 p-5">
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                        <h6>Heading 6</h6>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;h1&gt;Heading 1&lt;/h1&gt;
        &lt;h2&gt;Heading 2&lt;/h2&gt;
        &lt;h3&gt;Heading 3&lt;/h3&gt;
        &lt;h4&gt;Heading 4&lt;/h4&gt;
        &lt;h5&gt;Heading 5&lt;/h5&gt;
        &lt;h6&gt;Heading 6&lt;/h6&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Font Size -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold font-size-6">Font Size Utilities</h3>
                        <p>Font Size Utilitiy is used to define the size of text. It start from <strong
                                class="font-bold">4px to 32px and has 8 sizes</strong>.</p>
                        <p>Use the class name according to your requirement. Refer the below code.</p>
                    </div>
                    <div class="component-display flex justify-center flex-col gap-2 p-5">
                        <p class="font-size-1">Font Size 1 has size of 4px</p>
                        <p class="font-size-2">Font Size 2 has size of 8px</p>
                        <p class="font-size-3">Font Size 3 has size of 12px</p>
                        <p class="font-size-4">Font Size 4 has size of 16px</p>
                        <p class="font-size-5">Font Size 5 has size of 20px</p>
                        <p class="font-size-6">Font Size 6 has size of 24px</p>
                        <p class="font-size-7">Font Size 7 has size of 28px</p>
                        <p class="font-size-8">Font Size 8 has size of 32px</p>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;p class=&quot;font-size-1&quot;&gt;Font Size 1 has size of 4px&lt;/p&gt;
        &lt;p class=&quot;font-size-2&quot;&gt;Font Size 2 has size of 8px&lt;/p&gt;
        &lt;p class=&quot;font-size-3&quot;&gt;Font Size 3 has size of 12px&lt;/p&gt;
        &lt;p class=&quot;font-size-4&quot;&gt;Font Size 4 has size of 16px&lt;/p&gt;
        &lt;p class=&quot;font-size-5&quot;&gt;Font Size 5 has size of 20px&lt;/p&gt;
        &lt;p class=&quot;font-size-6&quot;&gt;Font Size 6 has size of 24px&lt;/p&gt;
        &lt;p class=&quot;font-size-7&quot;&gt;Font Size 7 has size of 28px&lt;/p&gt;
        &lt;p class=&quot;font-size-8&quot;&gt;Font Size 8 has size of 32px&lt;/p&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Grey Text -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold font-size-6">Grey Text</h3>
                        <p>To color the text gray,use the class name <strong class="font-bold">text-gray</strong>.</p>
                    </div>
                    <div class="component-display flex justify-center flex-col gap-2 p-5">
                        <p class="font-size-8 font-bold text-gray">This text is the Grey Text</p>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;p class=&quot;font-size-8 font-bold text-gray&quot;&gt;This text is the Grey Text&lt;/p&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Text Alignment -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold font-size-6">Text Alignment</h3>
                        <p>To align the text in left which is also the default, use the class <strong class="font-bold">text-left</strong>.</p>
                        <p>To align the text in center, use the class <strong class="font-bold">text-center</strong>.</p>
                        <p>To align the text in right, use the class <strong class="font-bold">text-right</strong>.</p>
                    </div>
                    <div class="component-display flex justify-center flex-col gap-2 p-5">
                        <div class="alignment-container">
                            <p class="font-size-5 text-left">This text is align to the left of container</p>
                            <p class="font-size-5 text-center">This text is align to the center of container</p>
                            <p class="font-size-5 text-right">This text is align to the right of container</p>
                        </div>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;p class=&quot;font-size-5 text-left&quot;&gt;This text is align to the left of container&lt;/p&gt;
        &lt;p class=&quot;font-size-5 text-center&quot;&gt;This text is align to the center of container&lt;/p&gt;
        &lt;p class=&quot;font-size-5 text-right&quot;&gt;This text is align to the right of container&lt;/p&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
        </div>
        <div id="copiedSnackbar" class="absolute font-ml">Copied!</div>
    </div>

    <!-- navbar and snippet scripts -->
    <script src="../../script/navigation.js"></script>
    <script src="../../script/snippet.js"></script>
    <!-- highlight js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>