<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aamir Nathani" />
    <title>Button - NOMARK UI</title>
    <link rel="icon" href="../../assests/icon-logo.png">

    <!-- External Imports -->
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="../../styles/main.css">

</head>

<body>
    <div class="section-center">
        <!-- navbar -->
        <nav class="navbar flex items-center justify-between pt-1 section-center z-5">
            <a class="humburger-icon icon-open text-lg"><i class="fas fa-bars ml-5"></i></a>
            <a class="humburger-icon icon-close text-lg displayNone"><i class="fas fa-bars ml-5"></i></a>
            <a href="../../index.html" class="mr-5"><img src="../../assests/logo-primary.png" alt="NOMARK"
                    class="nomark-logo"></a>
        </nav>
        <!-- side-bar -->
        <div class="sidebar sidebarRemove flex flex-col scroll-style z-4 pr-7 p-2">
            <h3 class="sidebar-heading text-lg">Getting Started</h3>
            <ul>
                <li><a href="../../documentation/doc.html" class="sidebar-items">Installation</a></li>
            </ul>
            <h3 class="sidebar-heading text-lg">Components</h3>
            <ul>
                <li><a href="../avatar/avatar.html" class="sidebar-items">Avatar</a></li>
                <li><a href="../alert/alert.html" class="sidebar-items">Alert</a></li>
                <li><a href="../badge/badge.html" class="sidebar-items">Badge</a></li>
                <li><a href="./button.html" class="sidebar-items active">Button</a></li>
                <li><a href="../card/card.html" class="sidebar-items">Card</a></li>
                <li><a href="../image/image.html" class="sidebar-items">Image</a></li>
                <li><a href="../input/input.html" class="sidebar-items">Input</a></li>
                <li><a href="../typography/typography.html" class="sidebar-items">Typography</a></li>
                <li><a href="../list/list.html" class="sidebar-items">Lists</a></li>
                <li><a href="../navbar/navbar.html" class="sidebar-items">Navigation</a></li>
            </ul>
        </div>
        <!-- Button -->
        <div class="click-remove">
            <section class="my-7">
                <div class="m-2">
                    <h2 class="text-xl font-bolder">Button</h2>
                    <p class="text-ml py-5">Buttons are nothing but call to action.We have Standard Buttons, Outline
                        Buttons, Icon Buttons and Floating Button.</p>
                </div>
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold text-lg">Standard Buttons</h3>
                    </div>
                    <div class="component-display flex justify-center p-5">
                        <button class="btn primary-btn">Primary Button</button>
                        <button class="btn secondary-btn">Secondary Button</button>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style">
                        <code class="language-html">&lt;button class=&quot;btn primary-btn&quot;&gt;Primary Button&lt;/button&gt;
                            &lt;button class=&quot;btn secondary-btn&quot;&gt;Secondary Button&lt;/button&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Outline Button -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold text-lg">Outline Buttons</h3>
                    </div>
                    <div class="component-display flex justify-center p-5">
                        <button class="btn primary-outline-btn">Primary Button</button>
                        <button class="btn secondary-outline-btn">Secondary Button</button>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style">
                        <code class="language-html">&lt;button class=&quot;btn primary-outline-btn&quot;&gt;Primary Button&lt;/button&gt;
                            &lt;button class=&quot;btn secondary-outline-btn&quot;&gt;Secondary Button&lt;/button&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Link button -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold text-lg">Link Buttons</h3>
                    </div>
                    <div class="component-display flex justify-center p-5">
                        <a class="btn primary-btn">Primary Button</a>
                        <a class="btn secondary-btn">Secondary Button</a>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style">
                        <code class="language-html">&lt;a class=&quot;btn primary-btn&quot;&gt;Primary Button&lt;/a&gt;
                            &lt;a class=&quot;btn secondary-btn&quot;&gt;Secondary Button&lt;/a&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Button with icons -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold text-lg">Icon Buttons</h3>
                    </div>
                    <div class="component-display flex justify-center p-5">
                        <button class="btn primary-outline-btn">
                            <i class="fas fa-shopping-cart mr-3"></i>Add to Cart</button>
                        <button class="btn secondary-btn"><i class="fas fa-heart mr-3"></i>Add to
                            Wishlist</button>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style">
                        <code class="language-html">&lt;button class=&quot;btn primary-outline-btn&quot;&gt;&lt;i class=&quot;fas fa-shopping-cart mr-3&quot;&gt;&lt;/i&gt;Add to Cart&lt;/button&gt;
                            &lt;button class=&quot;btn secondary-btn&quot;&gt;&lt;i class=&quot;fas fa-heart mr-3&quot;&gt;&lt;/i&gt;Add to Wishlist&lt;/button&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
            <!-- Button with Floating Icons -->
            <section class="my-7">
                <div class="component-container flex flex-col">
                    <div class="component-heading p-2">
                        <h3 class="font-bold text-lg">Floating Buttons</h3>
                        <p></p>
                    </div>
                    <div class="component-display flex justify-center p-5">
                        <button class="btn primary-outline-btn"><i
                                class="fas fa-shopping-cart fa-2x"></i></button>
                        <button class="btn secondary-outline-btn"><i
                                class="fas fa-heart fa-2x"></i></button>
                    </div>
                    <!-- code-snippet  -->
                    <pre id="myInput" class="relative scroll-style">
                        <code class="language-html">&lt;button class=&quot;btn primary-outline-btn&quot;&gt;&lt;i class=&quot;fas fa-shopping-cart fa-2x&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;button class=&quot;btn secondary-outline-btn&quot;&gt;&lt;i class=&quot;fas fa-heart fa-2x&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                        </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
                </div>
            </section>
        </div>
        <div id="copiedSnackbar" class="absolute font-ml">Copied!</div>
    </div>

    <!-- navbar and snippet scripts -->
    <script src="../../script/navigation.js"></script>
    <script src="../../script/snippet.js"></script>
    <!-- highlight js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>