<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aamir Nathani" />
    <title>Badge - NOMARK UI</title>
    <link rel="icon" href="../../assests/icon-logo.png">

    <!-- External Imports -->
    <link rel="stylesheet" href="./badge.css">
    <link rel="stylesheet" href="../avatar/avatar.css">
    <link rel="stylesheet" href="../../styles/main.css">

</head>

<body>
    <section class="section-center">
        <!-- navbar -->
        <nav class="navbar flex items-center justify-between pt-1 section-center z-5">
            <a class="humburger-icon icon-open font-size-6"><i class="fas fa-bars ml-5"></i></a>
            <a class="humburger-icon icon-close font-size-6 displayNone"><i class="fas fa-bars ml-5"></i></a>
            <a href="../../index.html" class="mr-5"><img src="../../assests/logo-primary.png" alt="NOMARK" class="nomark-logo"></a>
        </nav>
        <!-- side-bar -->
        <div class="sidebar sidebarRemove flex flex-col scroll-style z-4 pr-7 p-2">
            <h3 class="sidebar-heading font-size-5">Getting Started</h3>
            <ul>
                <li><a href="../../documentation/doc.html" class="sidebar-items">Installation</a></li>
            </ul>
            <h3 class="sidebar-heading font-size-5">Components</h3>
            <ul>
                <li><a href="../avatar/avatar.html" class="sidebar-items">Avatar</a></li>
                <li><a href="../alert/alert.html" class="sidebar-items ">Alert</a></li>
                <li><a href="./badge.html" class="sidebar-items active">Badge</a></li>
                <li><a href="../button/button.html" class="sidebar-items">Button</a></li>
                <li><a href="../card/card.html" class="sidebar-items">Card</a></li>
                <li><a href="../image/image.html" class="sidebar-items">Image</a></li>
                <li><a href="../input/input.html" class="sidebar-items">Input</a></li>
                <li><a href="../typography/typography.html" class="sidebar-items">Typography</a></li>
                <li><a href="../list/list.html" class="sidebar-items">Lists</a></li>
                <li><a href="../navbar/navbar.html" class="sidebar-items">Navigation</a></li>
                <li><a href="../modal/modal.html" class="sidebar-items">Modal</a></li>
                <li><a href="../grid/grid.html" class="sidebar-items">Grid</a></li>
                <li><a href="../slider/slider.html" class="sidebar-items">Slider</a></li>
                <li><a href="../toast/toast.html" class="sidebar-items">Toast</a></li>
                <li><a href="../rating/rating.html" class="sidebar-items">Rating</a></li>
            </ul>
        </div>
        <!--Badge  -->
        <main class="click-remove my-7">
            <div class="m-2">
                <h2 class="font-size-8 font-bolder">Badge</h2>
                <p class="font-size-5 py-5">Badge is used to highlight an Items Status.</p>
            </div>
            <!-- Badge on Image -->
            <div class="component-container flex flex-col">
                <div class="component-heading p-2">
                    <h3 class="font-bold font-size-6">Badge on Avatar</h3>
                    <p>In Badge on you can use the class <strong class="font-bold">badge-wh-1</strong> for the size of badge.Starts from 1 and end to 5. </p>
                    <p>For badge color you can use two colors <strong class="font-bold">primary-badge-color, secondary-badge-color, offline-badge-color and online-badge-color</strong></p>
                    <p>For Round Avatar, Image or Icon it has 4 position bottom right, top right, bottom left and top left. Can use this class <strong class="font-bold">badge-position-round-br, badge-position-round-tr, badge-position-round-bl and badge-position-round-tl.</strong> </p>
                </div>

                <div class="component-display flex justify-center p-5 gap-3">
                    <figure class="badge-container">
                        <img src="../../assests/avatar.jpg" alt="avatar" class="avatar-sm border-round">
                        <span class="badge badge-wh-1 badge-position-round-br offline-badge-color"></span>
                    </figure>
                    <figure class="badge-container">
                        <img src="../../assests/avatar.jpg" alt="avatar" class="avatar-md border-round">
                        <span class="badge badge-wh-2 badge-position-round-tr secondary-badge-color"></span>
                    </figure>
                    <figure class="badge-container">
                        <img src="../../assests/avatar.jpg" alt="avatar" class="avatar-lg border-round">
                        <span class="badge badge-wh-2 badge-position-round-bl offline-badge-color"></span>
                    </figure>
                    <figure class="badge-container">
                        <img src="../../assests/avatar.jpg" alt="avatar" class="avatar-xl border-round">
                        <span class="badge badge-wh-3 badge-position-round-tl online-badge-color">3</span>
                    </figure>
                    <figure class="badge-container">
                        <img src="../../assests/avatar.jpg" alt="avatar" class="avatar-xxl border-round ">
                        <span class="badge badge-wh-4 badge-position-round-br primary-badge-color">5+</span>
                    </figure>
                </div>
                <!-- code-snippet  -->
                <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;!-- badge position bottom-right for round icon/avatar --&gt;
        &lt;figure class=&quot;badge-container&quot;&gt;
            &lt;img src=&quot;../../assests/avatar.jpg&quot; alt=&quot;avatar&quot; class=&quot;avatar-sm border-round&quot;&gt;
            &lt;span class=&quot;badge badge-wh-1 badge-position-round-br offline-badge-color&quot;&gt;&lt;/span&gt;
        &lt;/figure&gt;

        &lt;!-- badge position top-right for round icon/avatar --&gt;
        &lt;figure class=&quot;badge-container&quot;&gt;
            &lt;img src=&quot;../../assests/avatar.jpg&quot; alt=&quot;avatar&quot; class=&quot;avatar-md border-round&quot;&gt;
            &lt;span class=&quot;badge badge-wh-2 badge-position-round-tr secondary-badge-color&quot;&gt;&lt;/span&gt;
        &lt;/figure&gt;

        &lt;!-- badge position bottom-left for round icon/avatar --&gt;
        &lt;figure class=&quot;badge-container&quot;&gt;
            &lt;img src=&quot;../../assests/avatar.jpg&quot; alt=&quot;avatar&quot; class=&quot;avatar-lg border-round&quot;&gt;
            &lt;span class=&quot;badge badge-wh-2 badge-position-round-bl offline-badge-color&quot;&gt;&lt;/span&gt;
        &lt;/figure&gt;

        &lt;!-- badge position top left for round icon/avatar --&gt;
        &lt;figure class=&quot;badge-container&quot;&gt;
            &lt;img src=&quot;../../assests/avatar.jpg&quot; alt=&quot;avatar&quot; class=&quot;avatar-xl border-round&quot;&gt;
            &lt;span class=&quot;badge badge-wh-3 badge-position-round-tl online-badge-color&quot;&gt;3&lt;/span&gt;
        &lt;/figure&gt;

        &lt;!-- badge position bottom-right for round icon/avatar --&gt;
        &lt;figure class=&quot;badge-container&quot;&gt;
            &lt;img src=&quot;../../assests/avatar.jpg&quot; alt=&quot;avatar&quot; class=&quot;avatar-xxl border-round &quot;&gt;
            &lt;span class=&quot;badge badge-wh-4 badge-position-round-br primary-badge-color&quot;&gt;5+&lt;/span&gt;
        &lt;/figure&gt;
                    </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
            </div>
        </main>
        <!-- Badge on Icon -->
        <main class="click-remove my-7">
            <div class="component-container flex flex-col">
                <div class="component-heading p-2">
                    <h3 class="font-bold font-size-6">Badge on Icons</h3>
                    <p>In Badge on Icon you can use the class <strong class="font-bold">badge-wh-1</strong> for the size of badge.Starts from 1 and end to 5. </p>
                    <p>For badge color you can use two colors <strong class="font-bold">primary-badge-color, secondary-badge-color, offline-badge-color and online-badge-color</strong></p>
                    <p>For Square Avatar, Image or Icon it has 4 position bottom right, top right, bottom left and top left. Can use this class <strong  class="font-bold">badge-position-square-br, badge-position-square-tr, badge-position-square-bl and badge-position-square-tl.</strong> </p>
                    <p>If you input text in badge dont forget to use class</p>
                    </div>

                <div class="component-display flex justify-center p-5 gap-3">
                    <div class="badge-container">
                        <i class="fab fa-whatsapp-square fa-2x"></i>
                        <span class="badge badge-wh-1 badge-position-square-tr online-badge-color"></span>
                    </div>
                    <div class="badge-container">
                        <i class="fab fa-facebook-square fa-3x"></i>
                        <span class="badge badge-wh-4 badge-position-square-bl offline-badge-color">9+</span>
                    </div>
                    <div class="badge-container">
                        <i class="fab fa-instagram-square fa-4x"></i>
                        <span class="badge badge-wh-4 badge-position-square-br primary-badge-color">9+</span>
                    </div>
                    <div class="badge-container">
                        <i class="fab fa-snapchat-square fa-5x"></i>
                        <span class="badge badge-wh-5 badge-position-square-tr secondary-badge-color">9+</span>
                    </div>
                </div>
                <!-- code-snippet  -->
                <pre id="myInput" class="relative scroll-style"><code class="language-html">
        &lt;!-- badge position top-right for square icon/avatar --&gt;
        &lt;div class=&quot;badge-container&quot;&gt;
            &lt;i class=&quot;fab fa-whatsapp-square fa-2x&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge badge-wh-1 badge-position-square-tr online-badge-color&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;

        &lt;!-- badge position bottom-left for square icon/avatar --&gt;
        &lt;div class=&quot;badge-container&quot;&gt;
            &lt;i class=&quot;fab fa-facebook-square fa-3x&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge badge-wh-4 badge-position-square-bl offline-badge-color&quot;&gt;9+&lt;/span&gt;
        &lt;/div&gt;

        &lt;!-- badge position bottom-right for square icon/avatar --&gt;
        &lt;div class=&quot;badge-container&quot;&gt;
            &lt;i class=&quot;fab fa-instagram-square fa-4x&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge badge-wh-4 badge-position-square-br primary-badge-color&quot;&gt;9+&lt;/span&gt;
        &lt;/div&gt;

        &lt;!-- badge position top-right for square icon/avatar --&gt;
        &lt;div class=&quot;badge-container&quot;&gt;
            &lt;i class=&quot;fab fa-snapchat-square fa-5x&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge badge-wh-5 badge-position-square-tr secondary-badge-color&quot;&gt;9+&lt;/span&gt;
        &lt;/div&gt;
                    </code><button id="button" class="absolute snippet-btn"><i class="fas fa-copy"></i></button></pre>
            </div>
        </main>

        <!-- copy div display-->
        <div id="copiedSnackbar" class="absolute font-ml">Copied!</div>
    </section>

    <!-- navbar and snippet scripts -->
    <script src="../../script/navigation.js"></script>
    <script src="../../script/snippet.js"></script>
    <!-- highlight js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>