/* center the section */
.section-center{
    max-width: 1280px;
    margin: 0 auto;
}

/* scroll bar design */
.scroll-style::-webkit-scrollbar {
    width: 6px;
  }

.scroll-style::-webkit-scrollbar-track {
    background-color: var(--bg-color-1);
  }
   
.scroll-style::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

/* main heading */
.main-heading-container{
  line-height: 2;
  font-weight: 500;
}

/* component container */

.component-container{
  border: 1px solid var(--primary-color);
}
.component-heading{
  border-bottom: 1px solid var(--primary-color);
  line-height: 2;
}

.component-display{
  width: 100%;
  background-color: var(--bg-color-3);
  align-items: center;
}

/* to make a image round */

.border-round{
    max-width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.display-item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fit-content{
  width: fit-content;
}